html{
   height: 100vh;
}
body {
  font-family:IBM Plex Mono, sans-serif;
  margin: 0 ;
  background-color: rgba(204, 204, 204, 0.49);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-weight: 600;
  color: gray;
}

a {
  text-decoration: none;
}
h2 {
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px;
}

h3 {
  background-color: #55d8de;
  text-align: center;
  color: black;
  margin-top: 0;
}
.content {

  flex: 1;

}
.header{
  margin-bottom: 30px;
  /* position: relative; */
  background-color:  rgba(8, 4, 20, 0.72)  ;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.logotipo {
  display: inline-block;
  height: 100%;
  margin-bottom: 10px;
}

.logotipo img{
  height: 40px;

}

.menu {
  display: flex;
  height: inherit;
  align-items: center;
  font-size: 20px;
}

.button {
  text-decoration: none;
  background-color: rgb(180, 199, 221);
  border-bottom: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  transition: .2s;
}

.button:active {
  transform: scale(.9);
}

nav {
  font-size: 20px;
  height: inherit;
}

nav ul {
  margin: 0;
  height: inherit;
  display: flex;
}

nav li {
  height: inherit;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white ;
  cursor: pointer;
  /* height: inherit; */
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
nav a:hover{
  box-shadow: inset 0 5px 0  white;
}

nav li::after{
  content: " | ";
  margin: 0 ;
  color: white;
}

nav li:last-child:after{
  display: none;
}

.contenedor{
  margin: auto;
  width: 800px;
}

.portada{
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
}

.mainItem{
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

.descripcion {
  border: 1px solid #55d8de;
  border-radius: 2px;
}

.descripcion a{
  background-color: #55d8de;
}

.secondItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.secondItems p {
  font-size: 14px;
  padding: 0 4px;
}
.item {
 width: 300px;
 margin-top: 15px;
}

.item img {
  width: 80%;
  display: block;
  margin: 5px auto;
  height: 300px;
}

.footer {
  background: ;
  color: #fff;
  margin-top: 30px;
  background-color: #302F2F;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.footer .contacto a {
  color: #fff;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}
.contacto img {
  display: block;
  width: 200px;
  height: 200px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contacto strong {
  display: block;
}

.formulario{
  display: flex;
  width: 400px;
  padding: 50px 10px;
  justify-content: space-between;
}

.sexo, .intereses {
  display: flex;
  flex-wrap:wrap;
}

.sexo {
  margin-top: 10px;
}

.intereses label {
  font-size: 12px;
}

.submit {
  padding: 7px 16px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
  cursor: pointer;
}
